<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>人脸识别搜索</title>
		<meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
		<link rel="stylesheet" th:href="@{/reg_assets/css/demo.css}"/>
		<link rel="stylesheet" th:href="@{/reg_assets/css/sky-forms.css}"/>
		<script th:src="@{/reg_assets/js/jquery-1.9.1.min.js}"></script>
		<script th:src="@{/reg_assets/js/jquery.validate.min.js}"></script>
		<link href="http://www.clantrip.com/static/bootstrap-font/css/bootstrap.min.css" rel="stylesheet"/>
	    <link href="http://www.clantrip.com/static/css/common.css" rel="stylesheet"/>
	    <script src="http://www.clantrip.com/static/js/jquery.min.js"></script>
	    <script src="http://www.clantrip.com/static/bootstrap-font/js/bootstrap.min.js"></script>
	    <link type="text/css" th:href="@{/css/zzsc.css}" rel="stylesheet" />
		<script type="text/javascript" th:src="@{/js/zzsc.js}"></script>
	</head>
	
	<body class="bg-cyan">
		<div class="body body-s">
		<div id="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 style="    margin-top: 11px;">Photo</h3>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            	<ul class="nav navbar-nav navbar-right">
                    <li ><a th:href="@{/faceIndex}">人脸识别首页</a></li>
                    <li ><a th:href="@{/faceReg}">人脸注册</a></li>
                    <li class="active"><a th:href="@{/faceSearch}">人脸搜索<span class="sr-only">(current)</span></a><p class="line-top hidden-xs"></p></li>
                    <li ><a href="">书籍</a></li>
                    <li ><a href="">其他</a></li>
                    <li ><a href="/door/login">登录</a></li>
                </ul>
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>		
			<div  class="sky-form" style="margin-top:20%">
				<header>人脸搜索</header>
				
				<fieldset>					
					<section>
						<label class="input">
							<i class="icon-append icon-envelope-alt"></i>
							<input type="text" name="face_url" placeholder="face_url" id="face_url">
						</label>
					</section>
					
					<section>
						<label class="input">
							<i class="icon-append icon-envelope-alt"></i>
							<input type="file" name="face_file" placeholder="face_file" id="face_file" oninput = "fileChanged(this)">
							<img alt="" id = "file_img" src="">
						</label>
					</section>
				</fieldset>
				<footer>
					<button onclick="face_submit()" class="button" style=" margin-right: 30%;">Submit</button>
				</footer>
				<fieldset>
					<section>
						<p id="user_info"></p>
						<p id="score"></p>
					</section>
				</fieldset>
			</div>			
		</div>
		
<script type="text/javascript">
	var reader = new FileReader();
	function face_submit() {
		var face_url = $("#face_url").val();
		var face_file = $("#face_file").val();
		var ctx = "[[@{/}]]";
		if (face_url != "") {
			$.ajax({
				url : "[[@{/}]]face/search/url",
				method : "post",
				data : {
					"face_url" : face_url
				},
				dataType : "json",
				success : function(res) {
					debugger
				},
				error : function() {
					alert("系统错误");
				}
			})
		}
		if (face_file != "") {
			var formData = new FormData();  
			formData.append('file',$("#face_file")[0].files[0]);
			$.ajax({
				type: "POST",
		        enctype: 'multipart/form-data',
				url : "[[@{/}]]face/search/file",
				data : formData,
				processData: false,  
	            contentType: false ,
	            dataType : "json",
				success : function(res) {
					$("#user_info").html("库中搜索结果："+res.user_name);
					$("#score").html("匹配值为："+res.score);
				},
				error : function() {
					alert("请选择正确的人物图像");
				}
			})
		} 
	}
	
	
	function fileChanged(file){
		var face_file = document.getElementById('file_img');
		reader.onload = function(evt){
			face_file.width  =  "100";
			face_file.height =  "100";
			face_file.src = evt.target.result;
		}
		reader.readAsDataURL(file.files[0]);
	}
</script>
	</body>
</html>